<div class="container">

  <div class="login-form">
    <h1><strong>Week Tweak</strong></h1>
    <h2> Connect With favorite service </h2>

    <button (click)="loginGoogle()" class="btn-white">
      <img src="assets/img/google.jpg">
      <strong>Connect with google</strong>
    </button>

    <button class="btn-twiiter">
      <img src="assets/img/twitter.jpg">
      <strong> Connect with twitter</strong>
    </button>

    <button class="btn-github">
      <img src="assets/img/github.jpg">
      <strong> Connect with github</strong>
    </button>

    <button class="btn-facebook">
      <img src="assets/img/facebook.jpg">
      <strong> Connect with facebook</strong>
    </button>

    <hr class="fbox-c m-y-md" data-text="OR">

    <button class="btn-white block"> Sign In with Email </button>
    {{(error | async)}}
  </div>

</div>